body {
background: url(lampada.png) no-repeat center fixed;
-webkit-background-size: cover;

}

h2 {
font-family: "Raleway", Arial, sans-serif;
letter-spacing: 10px;
color: white;}

label {
font-family: monospace;
font-size: 18px;
color: white;

}
#button1, #button2 {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f5f0f0;
    color: rgb(10, 10, 10);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;}
 
 #button1:hover {
    background-color: black;
    color: white;
    margin-left: 80px;
    margin-right: 150px;
  }   

 #button1 {
    margin-right: 80px;
    margin-left: 150px;
 }

 #button2 {
    margin-right: 150px;
    margin-left: 150px;

 }

 #button2:hover {
    background-color: black;
    color: white;
  } 

 header {
     margin-top: 20px;
     margin-left: 350px; 
 }

 #encode {
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 80px;
    

 }

  #decode {
    margin-top: -50px;
    margin-right: 150px;
    margin-left: 500px;
    
  }